.hero {
  margin-top: 96px;
  min-height: 40vh;
  background: url(../../images/hero.jpg) rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: #333;
  bottom: -106px;
  transform: skewY(-5deg);
}

.heroCard {
  background-color: #333;
  color: white;
  width: 80%;
  max-width: 600px;
  padding: 1.25rem;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: slideIn;
  animation-timing-function: ease-in-out;
  animation-duration: 1200ms;
  animation-iteration-count: 1;
}

.heroCard h2,
.heroCard p {
  text-align: center;
}

.heroCard p {
  margin: 1.5rem 0;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 20%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 576px) {
  .heroCard {
    width: 60%;
  }
}
