.meals {
  margin-top: 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  color: white;
  margin-bottom: 2rem;
  position: relative;
  min-height: 100vh;
  padding-bottom: 3rem;
}
