.mealAmount {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.mealAmount > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 28px;
  height: 28px;
  font-size: 1.8rem;
  border-radius: 0.2rem;
}

.mealAmount label {
  font-weight: bold;
}

.mealAmount input {
  width: 40px;
  border: 1px solid lightslategray;
  border-radius: 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem;
  text-align: center;
  border-radius: 0.2rem;
}
